@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse-slow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes text-flow {
  0% {
    transform: translateX(-100%) rotate(-20deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(-20deg);
    opacity: 1;
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.animate-pulse-slow {
  animation: pulse-slow 4s ease-in-out infinite;
}

.animate-text-flow {
  animation: text-flow 3s ease-out forwards;
}

.fixed-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.animated-text {
  opacity: 0; /* Valeur initiale pour l'animation de fondu */
}
keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.fixed-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
/* Exemple si tu rends le markdown dans un composant comme <article className="prose"> */
.prose p {
  margin-bottom: 1.25rem; /* ou 20px */
}

.prose h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.prose hr {
  margin: 3rem 0;
}

.ProseMirror {
  min-height: 400px;
  outline: none !important;
  border: none !important;
  background: transparent;
}

.ProseMirror ul,
.ProseMirror ol {
  margin-left: 1.5rem;
  padding-left: 1.5rem;
}

.ProseMirror ul {
  list-style: disc;
}

.ProseMirror ol {
  list-style: decimal;
}

.ProseMirror:focus {
  outline: none !important;
  border: none !important;
}
